body {
  margin: 0;
  background-color: #0098bd;
}
.container {
  margin-top: 5rem;
  text-align: center;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  font-size: 60px;
}

input[type='number'] {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 15px 25px;
  background-color: #00ff08;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
  font-size: 18px;
  font-size: 40px;
}

.result {
  font-weight: bold;
  color: #4caf50;
}

.H1 {
  text-align: center;
  background-color: aqua;
  padding: 3rem;
  margin: 0;
}
